[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/home/upx/loaenv/bin/python3.12 /home/upx/Documents/python/camera/camShutter.py
Name=camShutter
StartupNotify=true
Icon=/home/upx/Documents/python/camera/icons/camera.png
